/* Correção do Bootstrap */
#curriculum-vitae.container{
    padding: 0;
}
#preview .col-8, #preview .col-4{
    padding: 0;
}
.preview-toolbar .row{
    margin: 0;
}
/* Correção do Bootstrap */



/* Curriculum */
#curriculum-vitae{
    max-width: 750px;
    margin-top: 50px;
    background: #ffffff;
    box-shadow: slategrey 5px 10px 15px;
}
/* Curriculum */



/* Preview */
#preview{
    font-size: 14px;
}

.preview-toolbar{
    padding: 10px;
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    background-color: #f9f9f9;
}
/* Preview */



/* Preview main */
#preview-main h2, #preview-main h3{
    font-family: "Roboto", sans-serif; 
}

#preview h3{
    font-size: 21px;
    font-weight: bold;
    color: #343433;
}

.preview-step{
    margin: 50px 0;
}

#preview-dados-pessoais{
    margin-bottom: 50px;
}

#preview-info-pessoais{
    padding: 0 30px;
    margin: 50px 0 30px 0;
}

#preview-info-pessoais h2 {
    margin-bottom: 20px;
}

#preview-info-pessoais p {
    margin: 0;
}

#preview-contato ul{
    padding: 0 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#preview-objetivo{
    padding: 0 30px;
}

.preview-layout-descricao{
    width: 75px;
    margin-left: 30px;
    margin-right: 5px;
    display: inline-block;
    text-align: end;
}

.preview-descricao{
    max-width: 550px;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    margin: 15px 0;
    display: inline-block;
}

#preview-formacao{
    padding: 0 30px;
}

#preview-qualificacoes{
    padding: 0 30px;
}

#preview-experiencia{
    padding: 0 30px;
}

#preview-atv-complementares{
    padding: 0 30px;
}

#preview-info-adicionais{
    padding: 0 30px;
}
/* Preview main */



/* Formulario */
#curriculum-vitae form .form-group{
    margin: 10px 30px;
}

#curriculum-vitae form .titulo-seccao{
    background: #2b6696;
    color: #ffffff;
    height: 40px;
    font-size: 17pt;
    line-height: 40px;
    padding: 0 10px;
}
/* Formulario */

/* Auxoliar */
.ative{display: block;}
/* Auxiliar */
